.input-field{

    padding: .75em .5rem;
    border: 1px solid rgba(0 0 0 / 20%);
    width: 100%;
    outline: none;

    &:focus{
        border: 2px solid #95AD18;
    }

}

.label{
    display: block;
    margin-bottom: 10px;
    color: #7c7c7c;
    font-weight: 400;
    font-size: .875rem;
}

.input-group{

    display: flex;
    gap: 4rem;
    margin-bottom: .75rem;

    > .input-container{
        flex: 1;
    }

}

.fieldset{
    padding: 1rem;
    flex-wrap: wrap;
}