:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1em;
  background: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Small reset */

*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body, html {
  margin: 0;
  padding: 0;
}

a{
  color: #fff;
}